<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tantransh.workshopapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:fullBackupContent="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.LoginActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".home.DashboardActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".jobbooking.VehicleInformationActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".jobbooking.CustomerInformationActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".jobbooking.JobInformationActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".jobbooking.LaborInformationActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".currentjobs.CurrentJobListActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".jobcard.SerchJobcardActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".jobcard.JobCardDetailsActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".openjobs.OpenJobsActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".jobbooking.ServiceBookingActivity"
            android:screenOrientation="portrait"
            />
    </application>

</manifest>